<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Demo of lbd-tabs web component" />
    <link rel="icon" href="https://fav.farm/🧩" />
    <title>&lt;lbd-tabs&gt; Web Component Demo</title>
    <script type="module" src="lbd-tabs.js"></script>
  </head>
  <body>
    <h1><code>lbd-tabs</code></h1>

    <lbd-tabs>
      <ol>
        <li>
          <a href="#tab-1">Tab 1</a>
        </li>
        <li>
          <a href="#tab-2">Tab 2</a>
        </li>
        <li>
          <a href="#tab-3">Tab 3</a>
        </li>
      </ol>

      <div id="tab-1">
        Content 1
      </div>
      <div id="tab-2">
        Content 2
      </div>
      <div id="tab-3">
        Content 3
      </div>
    </lbd-tabs>
  </body>
</html>
