---
title: <lbd-tabs>
description: A Web Component for creating accessible tabs
---

{% renderFile './components/tabs/README.md' %}

<h2 id="demo">Demo</h2>

<lbd-tabs>
  <ol>
    <li>
      <a href="#tab-1">Tab 1</a>
    </li>
    <li>
      <a href="#tab-2">Tab 2</a>
    </li>
    <li>
      <a href="#tab-3">Tab 3</a>
    </li>
  </ol>

  <div id="tab-1">
    Content 1
  </div>
  <div id="tab-2">
    Content 2
  </div>
  <div id="tab-3">
    Content 3
  </div>
</lbd-tabs>

{% renderFile './components/tabs/CHANGELOG.md' %}
