---
title: <lbd-carousel>
description: A Web Component for creating accessible carousels
---

{% renderFile './components/carousel/README.md' %}

<h2 id="demo">Demo</h2>

<lbd-carousel autoplay>
  <img src="https://images.unsplash.com/photo-1511884642898-4c92249e20b6?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
  <img src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
  <img src="https://images.unsplash.com/photo-1507768872108-8f0846f2c28d?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
  <img src="https://images.unsplash.com/photo-1501118279464-d041bd17225a?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
</lbd-carousel>

{% renderFile './components/carousel/CHANGELOG.md' %}
