<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Demo of lbd-tooltip web component" />
    <link rel="icon" href="https://fav.farm/🧩" />
    <title>&lt;lbd-tooltip&gt; Web Component Demo</title>
    <script type="module" src="lbd-tooltip.ts"></script>
  </head>
  <body>
    <h1><code>lbd-tooltip</code></h1>

    <lbd-tooltip>
      <img
        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=100&h=100&q=80"
        alt="Tom Cook profile picture"
        title="Tom Cook"
      />
    </lbd-tooltip>
  </body>
</html>
