---
title: <lbd-treeview>
description: A Web Component for creating accessible tree views
---

{% renderFile './components/treeview/README.md' %}

<h2 id="demo">Demo</h2>

<lbd-treeview label="Fruits and Veggies">
  <ul>
    <li>Apple</li>
    <li>
      Banana
      <ul>
        <li>Cucumber</li>
      </ul>
    </li>
    <li>Dragonfruit</li>
    <li>
      Eggplant
      <ul>
        <li>Fennel</li>
      </ul>
    </li>
  </ul>
</lbd-treeview>

{% renderFile './components/treeview/CHANGELOG.md' %}
